#br{
    border: solid 1px #c3e6cb;
}

.authorBox{
    border: solid 1px #20c997;
}

.cul {
    overflow: hidden;
    clear: both;
    margin-bottom: 40px;
    padding: 0 0 20px;
    border-bottom: 1px dashed #eee;
    list-style: inside;
    color: #ddd;
}

.cul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.cul li {
    float: left;
    width: 33%;
    margin-bottom: 20px;
    line-height: 20px;
}

/*li {*/
/*    display: list-item;*/
/*    text-align: -webkit-match-parent;*/
/*}*/
