#br{
    border: solid 1px #c3e6cb;
}

.authorBox{
    background-color: white;
}

.cul {
    overflow: hidden;
    clear: both;
    margin-bottom: 40px;
    padding: 0 0 20px;
    border-bottom: 1px dashed #eee;
    list-style: inside;
    color: #ddd;
    height: 600px;
}

.cul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.cul li {
    float: left;
    width: 33%;
    margin-bottom: 20px;
    line-height: 20px;
}

.lic {
    border-bottom: solid 1px #000000;
    border-right: solid 1px #000000;
    width: 20px;
    height: 40px;
}

.btnDisable {
    pointer-events: none;
}